#***Section***

In [ ]:
print("Hello")

Hello

**Area of Square**

In [ ]:

def area_of_square():
    length=float(input("Enter the length of square "))
    return length

print(area_of_square())

**List and tuple**

In [ ]:

fruits=["Apple", "Banana", "Kiwi", "Strawberry"]
print(fruits[0])
print(fruits)

fruits.pop()
print(fruits)
fruits.pop(0)#Removes 1st element
print(fruits)
fruits.remove("Kiwi")
print(fruits)

fruits.insert(0,"Apple")
print(fruits)
fruits.append("Strawberry")
print(fruits)

Apple
['Apple', 'Banana', 'Kiwi', 'Strawberry']
['Apple', 'Banana', 'Kiwi']
['Banana', 'Kiwi']
['Apple', 'Banana', 'Kiwi']
['Apple', 'Banana', 'Kiwi', 'Strawberry']
['Apple', 'Banana', 'Strawberry']

**Dictionary and sets**

In [ ]:
#Dictionary and sets
student={
    "name": "Bishal sunar",
    "age": 20,
    "Course": "Artificial intelligence"
}
print(student["age"])
student["age"]=21
student["address"]="Purano naikap"
for read in student:
  print(read+ " "+student[read])
del student["address"]

**Task 1**

In [ ]:
#temperature converter
print("1)Celcius \n 2)Farenheit")#asking user for input
choice=int(input("Enter your choice"))
#celcius
if choice==1:
  celcius=float(input("Enter the temperature in celcius: "))
  fahrenheit=(celcius*(9/5)) +32#formula to convert to fahrenheit
  #printing result
  print("{1} celcius = {0} fahrenheit".format(fahrenheit, celcius))
#fahrenheit
else:
  fahrenheit=float(input("Enter  the temperature in fahrenheit: "))
  celcius=(farenheit-32)*(5/9)#formula to convert to celcius
  #printing the result
  print("{0} fahrenheit={1} celcius".format(fahrenheit, celcius))

# ***Homework***

In [ ]:
agecalc

In [ ]:
from datetime import datetime #For time formatting
birthyear=int(input("Enter your date of birth: ")) #Asking user date
currentyear=datetime.now().year #Current date and filering year
age=currentyear-birthyear
print("Your age is: {0}".format(age))

BMI calc

In [ ]:
mass=float(input("Enter your weight in kg:  "))
height=float(input("Enter your height in m: "))
BMI=mass/(height*height)
print("BMI ={0:.2f}".format(BMI))
if BMI<18.5:
    print("You are underweight")
elif BMI<26:
    print("Normal weight")
elif BMI<30:
    print("You are overweight")
else:
    print("You are obese")

Currenty converter

In [ ]:
npr=float(input("Enter the currency in NPR: "))
dollar=npr/130 #Dollar conversion```


print("{0} NPR= {1:.2f} dollar".format(npr, dollar))

Temp convert

In [ ]:
#temperature converter
print("1)Celcius \n 2)Farenheit")#asking user for input
choice=int(input("Enter your choice"))
#celcius
if choice==1:
  celcius=float(input("Enter the temperature in celcius: "))
  fahrenheit=(celcius*(9/5)) +32#formula to convert to fahrenheit
  #printing result
  print("{1} celcius = {0} fahrenheit".format(fahrenheit, celcius))
#fahrenheit
else:
  fahrenheit=float(input("Enter  the temperature in fahrenheit: "))
  celcius=(farenheit-32)*(5/9)#formula to convert to celcius
  #printing the result
  print("{0} fahrenheit={1} celcius".format(fahrenheit, celcius))

Simple interest

In [ ]:
temp=input("Enter time, rate and principal seperated by space: ")
time,rate,principal=temp.split(" ")
print("Interest ={0:.2f}".format(0.01*principal*time*rate))