# Hands-On Practice: Pandas and Matplotlib

## Exercise 1: Creating a Pandas Series
#### Pandas Series = 1-D array with labels

In [ ]:
import pandas as pd
scores = pd.Series([56,89,35,80,91],index=["Maths","Science","English","History","Geography"])
#Index Maths, science...... hunxa rather than 0,1,2,3,4
print(scores)

# Task 1: Create a Pandas Series with values [10, 20, 30, 40] and indices [”A”,
# ”B”, ”C”, ”D”]. Print the Series.

Maths        56
Science      89
English      35
History      80
Geography    91
dtype: int64

In [ ]:
import pandas as pd
series=pd.Series([10,20,30,40], index=["A","B","c","D"])
print(series)

A    10
B    20
c    30
D    40
dtype: int64

## Exercise 2: Creating a Pandas DataFrame

#### Dataframe is in a table format

In [ ]:
#Creating a dictionary
data = {
    "Name":["Aarav","Bikram","Samir"],
    "Age":[25,26,22],
    "City":["Delhi","Kathmandu","Dhaka"],
    "Country":["India","India","Bangladesh"]
}
#Turning the dictionary into a DataFrame
df = pd.DataFrame(data)
#Printing the DataFrame
print(df)

#Printing the DataFrame without index
print(df.to_string(index=False))

# Task 2: Create a DataFrame with columns ”City” ([”Paris”, ”Tokyo”, ”Syd-
# ney”]) and ”Population” ([2.1, 37.4, 5.3]). Print the DataFrame.

     Name  Age       City     Country
0   Aarav   25      Delhi       India
1  Bikram   26  Kathmandu       India
2   Samir   22      Dhaka  Bangladesh
  Name  Age      City    Country
 Aarav   25     Delhi      India
Bikram   26 Kathmandu      India
 Samir   22     Dhaka Bangladesh

In [ ]:
import pandas as pd
dataframe=pd.DataFrame({"City":["Paris","Tokyo","Sydney"],"Population":[2.1,37.4, 5.3]})
print(dataframe)

     City  Population
0   Paris         2.1
1   Tokyo        37.4
2  Sydney         5.3

## Exercise 3: Filtering Data in a DataFrame